.shiny-text {
  animation: shiny-text 3s infinite;
}

@keyframes shiny-text {
  0% {
    background-position: calc(-100% - var(--shiny-width)) 0;
  }
  100% {
    background-position: calc(100% + var(--shiny-width)) 0;
  }
}
