@import "@fontsource/sn-pro/200-italic.css";
@import "@fontsource/sn-pro/200.css";
@import "@fontsource/sn-pro/300-italic.css";
@import "@fontsource/sn-pro/300.css";
@import "@fontsource/sn-pro/400-italic.css";
@import "@fontsource/sn-pro/400.css";
@import "@fontsource/sn-pro/500-italic.css";
@import "@fontsource/sn-pro/500.css";
@import "@fontsource/sn-pro/600-italic.css";
@import "@fontsource/sn-pro/600.css";
@import "@fontsource/sn-pro/700-italic.css";
@import "@fontsource/sn-pro/700.css";
@import "@fontsource/sn-pro/800-italic.css";
@import "@fontsource/sn-pro/800.css";
@import "@fontsource/sn-pro/900-italic.css";
@import "@fontsource/sn-pro/900.css";

button {
  --cursor-button: pointer;
}

::selection {
  @apply bg-accent text-white;
}

:root {
  --bg-opacity: rgba(255, 255, 255, 0.72);
}

[data-theme="dark"] {
  --bg-opacity: rgba(29, 29, 31, 0.72);
}

/* fix ReCAPTCHA layout */
.g-recaptcha-bubble-arrow {
  display: none !important;
}

div[style*="z-index: 2000000000"] {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

div[style*="z-index: 2000000000"] > div[style*="opacity"] {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  -webkit-transform: none !important;
}
